
* {
    background-color: #1111;
    margin: 0px;
    color: white;
    font-family: Arial;
    
}

a {
    text-decoration: none; /* no underline */
  }


header {
    height: 13vw;
    background-color: rgb(31, 29, 29);
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    border: 2px solid blue
}


logo {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 2vw;
    font-size: 5vw;
    background-color: inherit;
    color: inherit;

}

img {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 40px;
}


header nav {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    background-color: inherit;
    color: inherit;

}


header nav div {
    padding: 10px;
    margin: 0px 0vw;
    background-color: inherit;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: baseline;
    color: inherit;

}


header nav div:hover {
    background-color: grey;

}


section {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 75, 75, 0);
    background: linear-gradient(to left, rgb(54, 54, 54) 28px, rgb(80, 80, 80) 50%, rgb(51, 51, 51));

   
}


section * {
    margin: 15px;
    color: white;
    background-color: inherit;
}


.breadcrumbs {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    font-size: .9rem;   
    margin-left: 15px;
}

.breadcrumbs * {
    margin: 3px;
    
}

.breadcrumb-separator {
    font-size: 1.5rem;
    color: grey
}

.section-title {
    font-size: 3rem;
    margin-top: 0%;
}


section p {
    padding: 1vw;
    padding-bottom: 3vw;
    font-size: 1.2em;
}


.table-of-contents * {
    list-style: none;
    border: none;
   
}