
* {
    background-color: blue;
    margin: 0px;
    color: white;
    font-family: Arial;
    
}


header {
    height: 15vw;
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}


logo {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1vw;
    font-size: 5vw;
    background-color: inherit;
}


header nav {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    background-color: inherit;
}



header nav div {
    padding: 0px 1vw;
    margin: 0px 1vw;
    background-color: inherit;
    font-weight: bold;
    text-align: center;
    
    
}

header nav div:hover {
    background-color: grey;

}

section {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    /* grid-template-rows: repeat(6, 1fr); */
   
}

section * {
    margin: 5px;
    border: 5px solid white;
    grid-column-start: 2;
}

section h1 {
    
    grid-row-start: 2;
    grid-row-end: 3;
    

}

section p {
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1vw;
    padding-bottom: 3vw;
    font-size: 1.2em;
}

.table-of-contents * {
    list-style: none;
}